.logo {
  display: inline-block;
  max-width: 150px;
}
.logo img {
  display: block;
  width: 100%;
  height: auto;
}
.header-absolute .site-header {
  background-color: rgba(255, 255, 255, 0.5);
}
.site-header .site-branding {
  padding: 15px 0;
}
ul.footer-contact.contact-font-icon {
  list-style-type: none;
}
ul.footer-contact.contact-font-icon li {
  border: none;
  text-transform: none;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
}
ul.footer-contact.contact-font-icon li:before {
  content: '';
}
ul.footer-contact.contact-font-icon li i {
  display: inline-block;
}
.main,
#main {
  padding: 80px 0 0;
}
